<h1>賣場後台</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="btn btn-light nav-link text-primary active" aria-current="page" href="/admin/items">Items</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light nav-link text-primary active" aria-current="page" href="/admin/users">Users</a>
  </li>
</ul>