<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'index'}}active{{/ifCond}}" href="/items">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'feeds'}}active{{/ifCond}}" href="/items/feeds">最新動態</a>
  </li>
  <li class="nav-item {{#ifCond route 'topUsers'}}active{{/ifCond}}">
    <a class="nav-link" href="/users/top">購物達人</a>
  </li>
</ul>