<h1>{{item.name}}</h1>
<p>[{{item.Category.name}}]</p>
<ul>
  <li>瀏覽次數: {{item.viewCounts}}</li>
  <li>評論次數: {{item.Comments.length}}</li>
  <li>收藏次數: </li>
</ul>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>